@using System.Drawing
@using System.Web
@inherits WidgetBase

<div class="indicator-container @Class" style="@FormattedStyle">
    <ImageFrame Class="user-icon" 
                Style="position: relative; left:0; top: 0;"
                Source="https://via.placeholder.com/50" 
                Width="@Width" 
                Height="@Height"
                ImgStyle="width: 90%; height: 90%;"/>
    @* LOW LEFT INDICATOR *@
    @if (LowLeftIndVisible)
    {
        <div class="indicator center-both indicator-low-left @ColorToColorClass(LowLeftIndColor)">
            <span>@LowLeftIndValue</span>
        </div>
    }
    @* LOW RIGHT INDICATOR *@
    @if (LowRightIndVisible)
    {
        <div class="indicator center-both indicator-low-right @ColorToColorClass(LowRightIndColor)">
            <span>@LowRightIndValue</span>
        </div>
    }
    @* HIGH LEFT INDICATOR *@
    @if (HighLeftIndVisible)
    {
        <div class="indicator center-both indicator-high-left @ColorToColorClass(HighLeftIndColor)">
            <span>@HighLeftIndValue</span>
        </div>
    }
    @* HIGH RIGHT INDICATOR *@
    @if (HighRightIndVisible)
    {
        <div class="indicator center-both indicator-high-right @ColorToColorClass(HighRightIndColor)">
            <span>@HighRightIndValue</span>
        </div>
    }
</div>

@code {
    // Indicator Visibility
    [Parameter] public bool LowLeftIndVisible { get; set; } = false;
    [Parameter] public bool LowRightIndVisible { get; set; } = false;
    [Parameter] public bool HighLeftIndVisible { get; set; } = false;
    [Parameter] public bool HighRightIndVisible { get; set; } = false;
    
    // Indicator Color
    [Parameter] public string LowLeftIndColor { get; set; } = "grey";
    [Parameter] public string LowRightIndColor { get; set; } = "grey";
    [Parameter] public string HighLeftIndColor { get; set; } = "grey";
    [Parameter] public string HighRightIndColor { get; set; } = "grey";
    
    // Indicator Value
    [Parameter] public string LowLeftIndValue { get; set; } = "";
    [Parameter] public string LowRightIndValue { get; set; } = "";
    [Parameter] public string HighLeftIndValue { get; set; } = "";
    [Parameter] public string HighRightIndValue { get; set; } = "";
    string ColorToColorClass(string color)
    {
        return color switch
        {
            "green" => "indicator-online",
            "yellow" => "indicator-away",
            "red" => "indicator-busy",
            _ => "indicator-offline"
        };
    }

    public void Refresh()
    {
        StateHasChanged();
    }
}